---
layout: compress
---
<!DOCTYPE html>
<html dir='ltr' lang='en' >
<head>{% include isi-head.html %}</head>
<body class='error404'>
    {% include setting.html %}
<!-- header wrapper start -->
<div id='header-container'>
    {% include subheader.html %}
    {% include header.html %}
</div>
<!-- header wrapper end -->
<!-- wrapper start -->
<div id='wrapper'>
<div class='clear'></div>
<div id='post-wrapper'>
<div class='post-container'>
<div id='myIdBlog'>733967358392679046</div>
<div class='main section' id='main'>
{{content}}
</div>
</div>
</div>
<!--=== halaman keranjang ===-->
<!--=== halaman checkout ===-->
<!-- sidebar wrapper -->
</div>
<!-- post wrapper end -->
<!-- fiktur start -->
<!-- wrapper end -->
<!-- footer widget -->
  {% include sidebar.html %}
<div class='clear'></div>
<!-- footer widget -->
<!-- footer wrapper start -->
   {% include footer.html %}
<!--=== nav footer ===-->
<!--=== nav footer end ===-->
<!--=== footer wrapper end ===-->
</body>
</html>