---
layout: compress
---

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>{% include isi-head.html %}</head>
  <body>
    {% include setting.html %}
<!-- header wrapper start -->
<div id="header-container">
    {% include subheader.html %}
    {% include header.html %}
</div>
<!-- header wrapper end -->
<!-- wrapper start -->
<div id="wrapper">
<div class="clear"></div>
<div id="post-wrapper">
<div class="post-container">
<div id="myIdBlog">733967358392679046</div>
    {% include slideshow.html %}
    {% include loading.html %}
    {% include homebutton.html %}
<div class="daftar-produk">
<h2>Daftar Produk</h2>
<a class="view-all" href="search49e5.html?max-results=12">View all</a>
</div>
<div class="main section" id="main">
<div class="widget Blog" data-version="1" id="Blog1">
<div class="blog-posts">
<!--Can"t find substitution for tag [defaultAdStart]-->
      {{ content }}
<!--Can"t find substitution for tag [adEnd]-->
</div>
<div class="clear"></div>
</div>
</div>
</div>
</div>
<!-- sidebar wrapper -->
    {% include aside.html %}
<div class="clear"></div>
</div>
<!-- post wrapper end -->
<!-- fiktur start -->
    {% include feature.html %}
<div class="clear"></div>
<!-- aside widget -->
    {% include sidebar.html %}
<div class="clear"></div>
<!-- wrapper end -->
<!-- footer widget -->
   {% include footer.html %}
<!--=== nav footer ===-->
   {% include navfooter.html %}
<!--=== nav footer end ===-->
<!--=== footer wrapper end ===-->
<!-- post wrapper end -->
    {% include analytics.html %}
    {% include script.html %}
  </body>
</html>
